h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Poller One", sans-serif;
  color: #000;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

/* header */

.header {
  width: 375px;
  height: 812px;
  /* padding: 20px; */
  margin: 0 auto;
  background-image: url(./img/header-mob.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0.85;
}

.navigation {
  width: 100%;
  height: 60px;
  background-color: #f6db61;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 0;
}

.modal {
  border-bottom: 2px solid #091739;
  border-radius: 0 0 26px 26px;
  backdrop-filter: blur(22px);
  background: #ffe769;
  width: 375px;
  height: 434px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  transform: translateY(-120%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 43px;
  gap: 28px;
  margin-top: 43px;
}

.menu-nav-link {
  padding: 6px 8px;
  border: 2px solid transparent;
  border-radius: 100px;
  font-weight: 400;
  font-size: 18px;
  color: #091739;
}

.menu-nav-link:focus,
.menu-nav-link:hover,
.menu-nav-link:active {
  border-color: #01203f;
  transition: all 0.3 cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list {
  margin: 0 auto;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 66px;
  border-radius: 100px;
  width: 1200px;
  height: 60px;
  box-shadow: 0 4px 4px 0 #081638;
  background: #ffd65e;
}

.header-title {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  background-clip: text;
  color: #ffd65e;
  text-shadow: 0 4px 44px 0 #fff;
  text-align: center;
  text-shadow: 0 4px 44px 0 #fff;
}

.header-text {
  max-width: 308px;
  font-weight: 400;
  font-size: 20px;
  color: #01203f;
  text-shadow: 10px 4px 12px 10px #fff;
  margin-top: 22px;
  text-align: center;
}

.nav-link {
  padding: 6px 8px;
  border: 2px solid transparent;
  border-radius: 100px;
  font-weight: 400;
  font-size: 18px;
  color: #01203f;
  transition: all 0.3 cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:focus,
.nav-link:hover,
.nav-link:active {
  border-color: #01203f;
}

.menu-open {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 4px;
  border: 2px solid transparent;
  border-radius: 4px;

  svg {
    width: 24px;
    height: 20px;
  }
}

.menu-open:hover,
.menu-open:focus,
.menu-open:active {
  border-color: #01203f;
}

.menu-close {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 4px;
  border: 2px solid transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
    stroke: #01203f;
    fill: #01203f;
  }
}

.menu-close:hover,
.menu-close:focus,
.menu-close:active {
  border-color: #01203f;
}

.header-button {
  font-family: "Poppins", Times, serif;
  /* margin-left: 85px; */
  margin: 38px auto;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(180deg, #fff 0%, #33b3ff 50%, #009ee0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 18px;
  max-width: 225px;
}

.header-button:hover,
.header-button:focus,
.header-button:active {
  color: #01203f;
  background: #ffd65e;
  border-color: #009ee0;
  box-shadow: 0 4px 44px 0 #fff;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 31px;
  /* justify-content: space-between; */
  /* margin-top: 148px; */
}

.hero-text-wrap {
  margin: 0 auto;
  /* margin-top: 31px; */
}

.img-wrap {
  /* width: 540px;
  height: 618px; */
  width: 313px;
  height: 625px;
  position: relative;
  /* margin-top: 28px; */
}

.girl {
  background-image: url(./img/girl-mob.png);
  width: 313px;
  height: 625px;
  position: absolute;
  background-repeat: no-repeat;

  /* top: -162px; */
  top: -20px;
  right: -118px;
}

.mobile {
  background-image: url(./img/mobile-mob.png);
  width: 192px;
  height: 379px;
  position: absolute;
  background-repeat: no-repeat;
  top: 50px;
  left: 10px;
}

/* .girl {
  position: absolute;
  top: -162px;
  right: 0;
}

.mobile {
  position: absolute;
  top: 0;
  left: -72px;
} */

.hidden {
  display: none;
}

.transform {
  transform: translateY(0);
}

/* feature-list */

#feature {
  margin: 0 auto;
  width: 375px;
  height: 880px;
  padding: 24px 20px;
  background-image: url(/img/feature-mob.png);
}

.feature-section-title {
  font-weight: 400;
  font-size: 28px;
  color: #091739;
  text-align: center;
  margin-bottom: 40px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.feature-title {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
}

.feature-text {
  font-family: "Poppins", Times, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

/* about */

#about {
  width: 375px;
  height: 860px;
  padding-top: 24px;

  margin: 0 auto;
  background-image: url(./img/about-background-mob.png);
}

.about-title {
  font-weight: 400;
  font-size: 36px;
  /* padding-top: 24px; */
  text-align: center;
  margin-bottom: 37px;
}

.about-img {
  width: 335px;
  height: 223px;
  margin: 0 auto;
}

.about-text {
  font-family: "Poppins", Times, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #081638;
  max-width: 335px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: 0 auto;
  border-radius: 26px;
  padding: 22px 16px;
  margin-top: 22px;

  span {
    font-weight: 700;
  }
}

.footer {
  width: 375px;
  height: 100px;
  margin: 0 auto;
  background: #56b4fa;
  padding-top: 25px;
}

.footer-wrap {
  margin: 0 auto;
  margin-top: 12px;
  width: 344px;
}

.footer-text {
  font-family: "Poppins", Times, serif;
  text-align: center;
  font-weight: 700;
  font-size: 10px;
  color: #fff;
}

.footer-link {
  text-align: center;
  font-family: "Poppins", Times, serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 1440px) {
  /* header */
  .header {
    width: 1440px;
    height: 800px;
    /* padding: 20px 0; */
    padding-top: 20px;
    background-image: url(./img/header.jpg);
  }

  .header-title {
    font-size: 78px;
    text-align: start;
  }

  .header-text {
    text-align: start;
    font-size: 32px;
    max-width: 700px;
    margin-bottom: 76px;
  }

  .header-button {
    margin-left: 0px;
  }

  .hero {
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
  }

  .navigation {
    background-color: transparent;
  }

  .girl {
    width: 498px;
    height: 995px;
    background-image: url(./img/girl.png);
    top: 0;
    left: -150px;
  }
  .mobile {
    width: 268px;
    height: 530px;
    background-image: url(./img/Mobile.png);
    top: 150px;
    left: -300px;
  }

  .nav-list {
    display: flex;
  }

  .menu-open {
    display: none;
  }

  .modal {
    display: none;
  }

  /* feature */

  #feature {
    width: 1440px;
    height: 600px;
    background-image: url(/img/feature.png);
  }

  .feature-list {
    width: 1260px;
    height: 405px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 35px 100px;
    /* align-items: flex-start; */
    justify-content: flex-start;
  }

  .feature-text {
    max-width: 500px;
  }

  /* about */

  #about {
    width: 1440px;
    height: 600px;
    padding-top: 32px;
    background-image: url(./img/about-background.png);
  }

  .about-wrap {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: center;
  }

  .about-img {
    width: 647px;
    height: 429px;
  }

  .about-text {
    font-size: 22px;
    max-width: 685px;
  }

  /* footer */

  .footer {
    width: 1440px;
    height: 100px;
    padding: 45px 49px;
    display: flex;
    gap: 162px;
    align-items: center;
    justify-content: flex-end;
  }

  .footer-wrap {
    margin: 0;
    width: 400px;
  }

  .footer-text {
    font-size: 12px;
  }

  .footer-link {
    font-size: 18px;
  }
}
